* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

main {
    max-width: 100%;
}

:root {
    --preto: black;
    --branco: white;
    --pre-opac: rgba(0, 0, 0, 0.642);
    --ciano: rgb(123, 224, 255);
    --ciano-escuro: rgb(38, 86, 96);
    --degradê: linear-gradient(to bottom, rgb(15, 7, 45), rgb(45, 13, 103) ,rgb(70, 10, 135));
    background:linear-gradient(to bottom, rgba(109, 81, 220, 0.442),);
    --degradê-azul: linear-gradient(276.18deg, #658EDF -9.44%, #1A2D82 113.07%);
    --degradê-azul:linear-gradient(276.18deg, #9279ee -9.44%, #5325a8 113.07%);
    --azul-escuro: navy;
}

header{
    background-color: var(--pre-opac);
    display: flex;
    color: var(--branco);
    justify-content: space-between;
    border-bottom: var(--ciano);
    max-width: 100%;
}

header>img{
    width: 200px;
}

header>nav>ul{
    display: flex;
    margin-top: 50px;
}

header>nav>ul>li{
    padding: 10px;
    list-style-type: none;
}

a{
    background-color: 2px var(--degradê-azul);
}