* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --preto: black;
    --branco: white;
    --pre-opac: rgba(0, 0, 0, 0.642);
    --ciano: rgb(123, 224, 255);
    --ciano-2: rgb(38, 86, 96);
}

body {
    background-image: linear-gradient(to bottom, rgb(15, 7, 45), rgb(45, 13, 103) ,rgb(70, 10, 135));
    background:linear-gradient(to bottom, rgba(109, 81, 220, 0.442),);
    background-repeat: no-repeat;
}

.banner {
    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;


    border-bottom: 2px solid var(--ciano);
}

.banner>img {
    width: 200px;
}

.menu {
    display: flex;
    margin-top: 50px;
}

.menu>li {
    padding: 10px;
    list-style-type: none;
}


.botao-azul {
    box-sizing: border-box;

    padding: 8px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    color: var(--branco);
    text-decoration: none;

    background: linear-gradient(276.18deg, #658EDF -9.44%, #1A2D82 113.07%);
    border-radius: 10px;
    transition: 200ms;
}


.botao-azul:hover {
    box-sizing: border-box;

    padding: 8px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    color: var(--branco);
    text-decoration: none;

    background: linear-gradient(276.18deg, #9279ee -9.44%, #5325a8 113.07%);
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--ciano);
    transition: 200ms;
}



/*fazendo o corpo*/

.primeira-tela {
    background: url(../img/Union.png) , var(--pre-opac);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 1100px 200px;
    width: auto;
    height: 500px;
    margin: 20px;    display: flex;
    border: 2px solid;
    border-color: var(--ciano);
    font-size: 25px;

}

.primeira-tela>img {
    width: 500px;
    
    float: right;
    margin: 100px;
}

.prim-text {
    color: var(--branco);
    text-align: center;
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seg-text {
    color: var(--branco);
    text-align: center;
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*estilizando login*/

.tela-login{
    background-color: var(--pre-opac);
    margin: 25px;
    display: flex;

    height: 700px;
}

.area-esquerda{
    background-color: var(--preto);
    width: 50%;
    align-items: center;
    padding: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.area-esquerda>img{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.area-esquerda>h1{
    color: var(--branco);
    display: flex;
    flex-direction: column;
    
}

.area-direita{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inputs{
    list-style-type: none;
}

.escrita{
    padding-right: 300px ;
    padding-top: 10px;
    padding-left: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 30px;
}

input{
    border: 3px solid  navy;
    border-radius: 7px;
    
}

/*tela de cadastro*/

.cadastro-tela{
    background: url(../img/Union.png) , var(--pre-opac);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 800px 300px;

    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.cadastro-tela>a{
    margin: 10px;
}


.cadastro-tela>img{
    width: 250px;
}

.nomes{
    color: var(--branco);
    font-size: 25px;
    padding-bottom: 2px;
}


/*fazendo a página de filmes/séries/Livros*/

.divisao{
    margin: 20px;
}
.lista-de-conteudo{
    display: flex;
    overflow: scroll;
    background-color: var(--pre-opac);
}

.lista-de-conteudo::-webkit-scrollbar{
    background-color: transparent;
    width: 0px;
}
.anim{
    width: 130px;
    height: 200px;
    margin: 9px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 3px var(--ciano);
    transition: 200ms;
}


.anim:hover{
    width: 130px;
    height: 200;
    margin: 7px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px var(--ciano);
    transition: 200ms;
}

.titulo-fileira{
    background-color: var(--preto);
    color: var(--branco) ;
    text-align: center;
    margin-right: 1340px;
    border: 1px transparent;
    border-radius: 10px 10px 0px 0px;
}

.linha-separacao{
    border-color: var(--ciano);
}

.bot-telas{
    border: 2px solid;
    border-color: var(--ciano);
    border-radius: 10px;
    padding: 7px;
    color: var(--branco);
    text-decoration: none;
    transition: 200ms;
}

.bot-telas:hover{
    border: 2px solid;
    border-color: var(--ciano);
    border-radius: 10px;
    padding: 7px;
    color: var(--branco);
    text-decoration: none;
    background-color: var(--ciano-2);
    box-shadow: 0px 0px 9px var(--ciano);
    transition: 200ms;
}


/*footer*/

